*.json
*.spec
*.egg
.env
.venv
*.manifest
.installed.cfg

node_modules/

env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
wheels/
pip-log.txt
venv/
ENV/

.idea/
.vscode/
*.egg-info/
.eggs/

__pycache__/

.DS_Store
